@import "tailwindcss";


::-webkit-scrollbar {
  width: 24px !important;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #A374FF;
  border-radius: 10px;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #A374FF transparent;
}